* {
    box-sizing: border-box;
}

body{
    background-image: url("https://cdn.wallpapersafari.com/47/38/aMl9pI.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.jumbotron {
    background-color: black;
    color: silver;
    padding-bottom: 10px;
}

#dawg-image{
    height: 125px;
    padding-top: 10px;
    padding-bottom: 10px;
}

p {
    margin: 0;
    padding: 0;
}

.card {
    background-color: black;
    color: silver;
}

#app {
    text-align: left;
}

.choice {
    border: 1px solid red;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}